<ng-container *ngIf="!(isLoading$ | async); else loader">
  <ng-container
    *ngIf="episodesOfSeasons$ | async as episodesOfSeasons; else noresults"
  >
    <section class="details">
      <div class="details__heading">
        <p class="details__title">Sezon {{ episodesOfSeasons.season }}</p>
        <p class="details__subtitle">
          Ilość odcinków w sezonie: {{ episodesOfSeasons.episodes.length }}
        </p>
      </div>
      <ul class="details__list">
        <ng-container *ngFor="let item of episodesOfSeasons.episodes">
          <li class="details__item item">
            <div class="item__heading">
              <p class="item__title">
                Tytuł:
                <span class="item__text--bold">{{ item.name }}</span>
              </p>
              <p class="item__date">
                Data emisji:
                <span class="item__text--bold">{{ item.air_date }}</span>
              </p>
              <button class="item__count">
                Postaci:
                <span class="item__text--bold">{{
                  item.episode_characters.length
                }}</span>
              </button>
            </div>
          </li>
        </ng-container>
      </ul>
    </section>
  </ng-container>
</ng-container>

<ng-template #noresults>
  <section class="details details--error">
    <p class="details__title">Brak wyników :(</p>
  </section>
</ng-template>

<ng-template #loader>
  <section class="details details--error">
    <div class="loader"></div>
  </section>
</ng-template>
